.hero-section{
    background: linear-gradient(rgba(43, 37, 37, 0.6), rgba(18, 15, 15, 0.6)), url(../images/hero-section-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    height: 85vh;
    color: white;
  }

.hero-content{
    margin: auto;
}

.hero-content h1{
    font-size: 5rem;
}

.hero-section p{
    font-size: 2rem;
}

@media only screen and (max-width: 768px) {
    .hero-content h1{
        font-size: 3rem;
    }
    
    .hero-section p{
        font-size: 1.5rem;
    }
  }
  
/* about us section styles */
.about-us{
    border: none;

}
.about-us h1{
    font-weight: bold;
}

.about-us .card-text{
    font-size: 1.5em;
}

/* VMGO seciton styes */

.vision-mission-goal {
    background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/vmgo-bg.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.content-box {
    padding: 20px;
    border-radius: 10px;
}

.content-box h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.content-box p {
    margin: 0;
}

/* statistics section styles */
.stats-section {
    background-color: #ff6600; /* Orange background */
    color: white;
    text-align: center;
}
.stat-box {
    margin: 20px 0;
}
.stat-box i {
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.stat-box h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}
.stat-box p {
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
}

/* shelter section styles */
.shelters-section {
    text-align: center;
}

/* ways you can help section styles */
.section-gray {
    background-color: #F2F2F2; /* Bootstrap's light gray color */
  }

.ways-you-can-help {
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    overflow: hidden;
    color: white;
}   

.ways-you-can-help:hover {
    transform: translateY(-10px);
}

.ways-you-can-help img {
    height: 200px;
    object-fit: cover;
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; */
}

.volunteer-card-bg{
    background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/hero-section-bg.jpg);
    height: 15em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.donate-card-bg{
    background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/donate-bg.jpg);
    height: 15em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.sponsor-card-bg{
    background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/sponsor-bg.jpg);
    height: 15em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.adopt-card-bg{
    background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://scontent.fceb1-3.fna.fbcdn.net/v/t1.6435-9/52609049_2197685787163497_4639087695027503104_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=3a1ebe&_nc_eui2=AeGOLqvYQQ6LEttVbRltESGemw1ZtVqfvDSbDVm1Wp-8NJnne52Xu3lfO1PxoQ6qhU_bzvqPoMkO3fqoK9wHoWLi&_nc_ohc=A94L9NoQMzMQ7kNvgHnpTaX&_nc_zt=23&_nc_ht=scontent.fceb1-3.fna&_nc_gid=AyDvY-VacbrYy2mb5jb6Jl6&oh=00_AYAM5HIYQWwZxEhWK0Uf_0pzEk_c5T7s9hO3xgujz2UimA&oe=67B32D0F);
    height: 15em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



