{% extends "base/base.html" %}

{% block content %}
    <div class="container">
        <h1>{{ newsarticle.title }}</h1>
        <p><strong>Category:</strong>
            {% if newsarticle.category %}
                {{ newsarticle.category.name }}
            {% else %}
                Uncategorized
            {% endif %}
        </p>
        <p><strong>Created At:</strong> {{ newsarticle.created_at }}</p>
        <div>
            <h2>Content</h2>
            <p>{{ newsarticle.content|safe }}</p>
        </div>
        {% if newsarticle.photo %}
            <img src="{{ newsarticle.photo.url }}" alt="{{ newsarticle.title }}" style="width: 100%; object-fit: cover;">
        {% endif %}
    </div>
{% endblock %}
