/* hero section styles */
.section-padding{
    padding: 100px 0;
}

.carousel-item{
    height: 100vh;
    min-height: 300px;
}

.carousel-caption{
    bottom: 280px;
    z-index: 2;
}

.carousel-caption h5{
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p{
    width: 60%;
    margin: auto;
    margin-bottom: 1em;
    font-size: 1.5em;
    line-height: 1.9;
}

.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
}

/* === responsive css for hero section === */

@media screen and (min-width: 768px) and (max-width: 991px){
    .carousel-caption{
        bottom: 370px; 
    }

    .carousel-caption p{
        width: 100%;
    }
}


@media only screen and (max-width: 767px) {
  
    .carousel-caption{
      bottom: 125px;
    }
  
    .carousel-caption h5{
      font-size: 20px;
    }
  
    .carousel-caption a{
      padding: 10px 15px;
    }
    
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
  }

/* hero section styles */
/* .hero-section{
    height: 85vh;
    color: white;
  } */

.hero-section{
    background: linear-gradient(rgba(43, 37, 37, 0.6), rgba(18, 15, 15, 0.6)), url(../images/hero-section-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    height: 85vh;
    color: white;
  }

.hero-content{
    margin: auto;
}

.hero-content h1{
    font-size: 5vw;
}

.hero-section p{
    font-size: 2vw;
}

@media only screen and (max-width: 767px) {
    .hero-content h1{
        font-size: 10vw;
    }
    
    .hero-section p{
        font-size: 7vw;
    }
  }
  
/* about us section styles */
.about-us{
    border: none;

}
.about-us h1{
    font-weight: bold;
}

.about-us .card-text{
    font-size: 1.5em;
}

/* VMGO seciton styes */

.vision-mission-goal {
    background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/vmgo-bg.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    padding: 50px 0;
}

.content-box {
    padding: 20px;
    border-radius: 10px;
}

.content-box h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.content-box p {
    margin: 0;
}

/* statistics section styles */
.stats-section {
    background-color: #ff6600; /* Orange background */
    color: white;
    padding: 40px 0;
    text-align: center;
}
.stat-box {
    margin: 20px 0;
}
.stat-box i {
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.stat-box h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}
.stat-box p {
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
}

/* shelter section styles */
.shelters-section {
    padding: 50px 0;
    text-align: center;
}
.shelter-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.shelter-card:hover {
    transform: scale(1.05);
}
.shelter-logo {
    max-width: 200px;
    margin: 0 auto 15px;
}


/* ways you can help section styles */
.section-gray {
    background-color: #F2F2F2; /* Bootstrap's light gray color */
    padding: 50px 0;
  }

.ways-you-can-help {
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    overflow: hidden;
    color: white;
}

.ways-you-can-help:hover {
    transform: translateY(-10px);
}

.ways-you-can-help img {
    height: 200px;
    object-fit: cover;
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; */
}

.volunteer-card-bg{
    background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/hero-section-bg.jpg);
    height: 15em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.donate-card-bg{
    background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/donate-bg.jpg);
    height: 15em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.sponsor-card-bg{
    background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/sponsor-bg.jpg);
    height: 15em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.adopt-card-bg{
    background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://scontent.fceb1-3.fna.fbcdn.net/v/t1.6435-9/52609049_2197685787163497_4639087695027503104_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=3a1ebe&_nc_eui2=AeGOLqvYQQ6LEttVbRltESGemw1ZtVqfvDSbDVm1Wp-8NJnne52Xu3lfO1PxoQ6qhU_bzvqPoMkO3fqoK9wHoWLi&_nc_ohc=A94L9NoQMzMQ7kNvgHnpTaX&_nc_zt=23&_nc_ht=scontent.fceb1-3.fna&_nc_gid=AyDvY-VacbrYy2mb5jb6Jl6&oh=00_AYAM5HIYQWwZxEhWK0Uf_0pzEk_c5T7s9hO3xgujz2UimA&oe=67B32D0F);
    height: 15em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



