{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'global/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/custom-btn.css' %}">
    {% block styles %}
    
    {% endblock styles %}
</head>
<body>
    
    <nav class="navbar fixed-top navbar-expand-lg">
        <div class="container ">
          <a class="navbar-brand" href="#">
            <img src="{% static 'home/images/IRO logo.png' %}" alt="" width=80px>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Help IRO
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Adpot
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Shelters</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Educational Resources</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">News&Articles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">FAQs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    {% block content %}
    
    {% endblock content %}

    <footer class="bd-footer py-4 py-md-5 ">
        <div class="container py-4 py-md-5 px-4 px-md-3 ">
            <div class="row mb-5">
                <div class="col">
                    <div class="d-flex justify-content-center mb-2">
                        <h5>Keep me udpated</h5>
                    </div>
                    <div class="d-flex justify-content-center">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="you@example.com" aria-label="Search">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </form>
                    </div>
                </div>
              </div>
          <div class="row">
            <div class="col-lg-3 mb-3">
              <a class="d-flex justify-content-center mb-2 text-body-emphasis text-decoration-none" href="/" >
                <img src="{% static 'home/images/IRO logo.png' %}" alt="" width=200px style="border-radius: 50%">
              </a>
            </div>
            <div class="col mb-3">
              <h5>Guides</h5>
              <ul class="list-unstyled">
                <li class="mb-2"><a href="/docs/5.3/getting-started/">Getting started</a></li>
                <li class="mb-2"><a href="/docs/5.3/examples/starter-template/">Starter template</a></li>
                <li class="mb-2"><a href="/docs/5.3/getting-started/webpack/">Webpack</a></li>
                <li class="mb-2"><a href="/docs/5.3/getting-started/parcel/">Parcel</a></li>
                <li class="mb-2"><a href="/docs/5.3/getting-started/vite/">Vite</a></li>
              </ul>
            </div>
            <div class="col mb-3">
              <h5>Projects</h5>
              <ul class="list-unstyled">
                <li class="mb-2"><a href="https://github.com/twbs/bootstrap" target="_blank" rel="noopener">Bootstrap 5</a></li>
                <li class="mb-2"><a href="https://github.com/twbs/bootstrap/tree/v4-dev" target="_blank" rel="noopener">Bootstrap 4</a></li>
                <li class="mb-2"><a href="https://github.com/twbs/icons" target="_blank" rel="noopener">Icons</a></li>
                <li class="mb-2"><a href="https://github.com/twbs/rfs" target="_blank" rel="noopener">RFS</a></li>
                <li class="mb-2"><a href="https://github.com/twbs/examples/" target="_blank" rel="noopener">Examples repo</a></li>
              </ul>
            </div>
            <div class="col mb-3">
              <h5>Community</h5>
              <ul class="list-unstyled">
                <li class="mb-2"><a href="https://github.com/twbs/bootstrap/issues" target="_blank" rel="noopener">Issues</a></li>
                <li class="mb-2"><a href="https://github.com/twbs/bootstrap/discussions" target="_blank" rel="noopener">Discussions</a></li>
                <li class="mb-2"><a href="https://github.com/sponsors/twbs" target="_blank" rel="noopener">Corporate sponsors</a></li>
                <li class="mb-2"><a href="https://opencollective.com/bootstrap" target="_blank" rel="noopener">Open Collective</a></li>
                <li class="mb-2"><a href="https://stackoverflow.com/questions/tagged/bootstrap-5" target="_blank" rel="noopener">Stack Overflow</a></li>
              </ul>
            </div>
          </div>
        </div>
    </footer>
    
    
    <script src="{% static 'global/js/bootstrap.bundle.min.js' %}"></script>
    {% block scripts %}
    
    {% endblock scripts %}
</body>
</html>