{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
        {% block title %}
        {% endblock title %}
    </title>

    <link rel="shortcut icon" href="{% static 'global/images/iro-logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'global/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="{% static 'global/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/custom-btn.css' %}">
    <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    {% block styles %}
    
    {% endblock styles %}
</head>
<body>

    {% comment %} navbar {% endcomment %}
    <nav class="navbar sticky-top navbar-expand-lg">

        <div class="container ">
          <a class="navbar-brand" href="#">
            <img src="{% static 'home/images/IRO logo.png' %}" alt="" width=80px>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'home' %}#help-iro" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Help IRO
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'donate' %}">Donate</a></li>
                  <li><a class="dropdown-item" href="{% url 'in_kind_donations' %}">In-Kind Donation</a></li>
                  <li><a class="dropdown-item" href="{% url 'volunteer' %}">Volunteer</a></li>
                  <li><a class="dropdown-item" href="#">Sponsor</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Adopt
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'adoption' %}">Adoptable Animals</a></li>
                  <li><a class="dropdown-item" href="{% url 'adoption_process' %}">Adoption Process</a></li>
                  <li><a class="dropdown-item" href="https://forms.gle/RSZGXakdaT3uFUK18">Adoption Form</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'shelters_page' %}">Shelters</a>
              </li>

              {% comment %} <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Events
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Spay/Neuter Events</a></li>
                </ul>
              </li> {% endcomment %}

              <li class="nav-item">
                <a class="nav-link" href="{% url 'resources:education_resources' %}">Resources</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'news&articles:news_articles' %}">News&Articles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'faqs' %}">FAQs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


    {% comment %} main content {% endcomment %}

    <div class="main">

    {% block content %}
    
    {% endblock content %}
    </div>

{% comment %} donations section {% endcomment %}
{% block donation_channels %}
  <div class="donation-channels">
    <div class="container p-5 text-center">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          
          <!-- Card 1 -->
          <div class="swiper-slide">
            <div class="card donation-card">
              <img src="https://images.seeklogo.com/logo-png/38/1/gcash-logo-png_seeklogo-383190.png?v=1957907106254922584" class="card-img-top" alt="GCASH">
              <div class="card-body">
                <h5 class="card-title fw-bold">GCASH</h5>
                <p class="card-text">Annalyn Aizpuru <br> 09053416042</p>
              </div>
            </div>
          </div>
    
          <!-- Card 2 -->
          <div class="swiper-slide">
            <div class="card donation-card">
              <img src="https://play-lh.googleusercontent.com/rX0QH8-NjXsrOdQQM7qbXhFFkdhCyAAzMB-hitkGOaLTMiP6oCR2RGZ3MCE3biSMmtk=w240-h480-rw" class="card-img-top" alt="CHINA BANK">
              <div class="card-body">
                <h5 class="card-title fw-bold">CHINA BANK</h5>
                <p class="card-text">Island Rescue Organization-Subangdaku Branch Checking Account #: 2890396715</p>
              </div>
            </div>
          </div>
    
          <!-- Card 3 -->
          <div class="swiper-slide">
            <div class="card donation-card">
              <img src="https://ceedphilippines.com/wp-content/uploads/2020/04/bpi-new-logo.jpg" class="card-img-top" alt="BPI">
              <div class="card-body">
                <h5 class="card-title fw-bold">BPI</h5>
                <p class="card-text">Carla Joy Estrada-Salvacion Account Number <br> 1199 1624 93</p>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="card donation-card">
              <img src="https://play-lh.googleusercontent.com/fdQjxsIO8BTLaw796rQPZtLEnGEV8OJZJBJvl8dFfZLZcGf613W93z7y9dFAdDhvfqw" class="card-img-top" alt="PAYMAYA">
              <div class="card-body">
                <h5 class="card-title fw-bold">PAYMAYA</h5>
                <p class="card-text">Annalyn Aizpuru <br> 09053416042</p>
              </div>
            </div>
          </div>
    
          <div class="swiper-slide">
            <div class="card donation-card">
              <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Paypal_2014_logo.png" class="card-img-top" alt="PAYPAL">
              <div class="card-body">
                <h5 class="card-title fw-bold">PAYPAL</h5>
                <p class="card-text">helpiro@gmail.com</p>
              </div>
            </div>
          </div>
    
    
          <!-- Add more cards as needed -->
          
        </div>
    
        <!-- Pagination & Navigation -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
  {% endblock donation_channels %}
  {% comment %} footer {% endcomment %}
    <footer class="bd-footer py-4 py-md-5 ">
        <div class="container py-4 py-md-5 px-4 px-md-3 ">
            <div class="row mb-5">
                <div class="col">
                    <div class="d-flex justify-content-center mb-2">
                        <h5>Keep me updated</h5>
                    </div>
                    <div class="d-flex justify-content-center">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="you@example.com" aria-label="Search">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </form>
                    </div>
                </div>
              </div>
          <div class="row">
            <div class="col-lg-3 mb-3">
              <a class="d-flex justify-content-center mb-2 text-body-emphasis text-decoration-none" href="/" >
                <img src="{% static 'home/images/IRO logo.png' %}" alt="" width=200px style="border-radius: 50%">
              </a>
            </div>
            <div class="col mb-3">
              <h5>Navigation</h5>
              <ul class="list-unstyled">
                <li class="mb-2"><a href="/docs/5.3/getting-started/">Home</a></li>
                <li class="mb-2"><a href="/docs/5.3/examples/starter-template/">Donate</a></li>
                <li class="mb-2"><a href="/docs/5.3/getting-started/webpack/">Shelters</a></li>
                <li class="mb-2"><a href="/docs/5.3/getting-started/parcel/">Adopt</a></li>
                <li class="mb-2"><a href="/docs/5.3/getting-started/vite/">Events</a></li>
              </ul>
            </div>
            <div class="col mb-3">
              <h5>Contact Us</h5>
              <ul class="list-unstyled">
                <li class="mb-2 d-flex gap-2"><i class="fa-regular fa-envelope" style="color: white; font-size: 20px"></i><a href="https://github.com/twbs/bootstrap" target="_blank" rel="noopener">helpiro@gmail.com</a></li>
                <li class="mb-2 d-flex gap-2"><i class="lni lni-telephone-1" style="color: white; font-size: 20px"></i><a href="https://github.com/twbs/bootstrap/tree/v4-dev" target="_blank" rel="noopener">09XXXXXXXXX</a></li>
                <li class="mb-2 d-flex gap-2"><i class="fa-regular fa-clock" style="color: white; font-size: 20px"></i><a href="https://github.com/twbs/icons" target="_blank" rel="noopener">Monday-Saturday<br>8:00AM-5:00PM</a></li>
              </ul>
            </div>
            <div class="col mb-3">
              <h5>Socials</h5>
              <ul class="list-unstyled">
                <li class="mb-2 d-flex gap-2"><i class="fa-brands fa-facebook" style="color: white; font-size: 20px"></i><a href="https://github.com/twbs/bootstrap/issues" target="_blank" rel="noopener">Island Rescue Organization</a></li>
                <li class="mb-2 d-flex gap-2"><i class="fa-brands fa-instagram" style="color: white; font-size: 20px"></i><a href="https://github.com/twbs/bootstrap/discussions" target="_blank" rel="noopener">islandrescueorg</a></li>
                <li class="mb-2 d-flex gap-2"><i class="fa-brands fa-youtube" style="color: white; font-size: 20px"></i><a href="https://github.com/sponsors/twbs" target="_blank" rel="noopener">Island Rescue Organization</a></li>
              </ul>
            </div>
          </div>
        </div>
    </footer>

    <script src="{% static 'global/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'global/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1, // Default: 1 card per view
        spaceBetween: 20,
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          576: { slidesPerView: 1 }, // 1 card on small screens
          768: { slidesPerView: 2 }, // 2 cards on tablets
          992: { slidesPerView: 3 }, // 3 cards on desktops
        }
      });
    </script>
    {% block scripts %}
    
    {% endblock scripts %}
</body>
</html>