/*style reset*/
html {
  scroll-behavior: smooth;
}

.scroll-offset {
  scroll-margin-top: 100px; /* Adjust this value to match the height of your sticky header */
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
  font-family: 'Arial', sans-serif;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*nav bar styles*/
.navbar{
    font-weight: 500;
    background-color: white;
    z-index: 1000;
}

.nav-link:hover{
    color: #F95B00;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Adjusts the dropdown positioning */
}

/* Optional: Smooth transition */
.dropdown-menu {
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.w-100{
  height: 100vh;
}

/*footer styles*/
footer a{
    text-decoration: none;
    color: white;
}

h5{
    color: white;
}

.bd-footer{
    background-color: #231F20;
}


/* === responsive css for navbar === */

@media only screen and (max-width: 767px) {
  .navbar-nav{
    text-align: center;
  }
}



/* donations styles */
.partner-card img{
  max-width: 200px;
  margin: auto;
}

.donation-card, .partner-card {
  background-color: white;
  border: 1px solid #ccc; 
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.donation-card:hover, .partner-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

#cards-container {
overflow-x: hidden;
white-space: nowrap;
}