{% extends "global/base.html" %}
{% load static %}
{% block title %}
Donate Page
{% endblock title %}
{% block styles %}
<style>
    .header {
        color: white;
        text-align: left;
        background: linear-gradient(rgba(43, 37, 37, 0.6), rgba(18, 15, 15, 0.6)),
            url('https://media.4-paws.org/6/8/9/3/689354d6694789b45569cd647a6009e240b4afe7/VIER%20PFOTEN_2016-09-18_081-1927x1333-1920x1328.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 80px 20px
    }

    .header h1 {
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 15px;
        color: white;
    }

    .header p {
        font-size: 2.5rem;
        margin-bottom: 30px;
        line-height: 1.6em;
        color: white;
        text-align: left;
    }

    .section {
        padding: 50px 20px;
        background-color: #F2F2F2;
        text-align: center;
    }

    .section h2 {
        font-size: 2.2em;
        color: black;
        margin-bottom: 20px;
    }

    @media (max-width: 768px) {
        .header h1 {
            font-size: 4rem;
        }

        .header p {
            font-size: 1.5rem;
            margin-left: 20px;
        }

        .header button {
            padding: 10px 20px;
            font-size: 1em;
        }

        .content h2 {
            font-size: 1.8em;
        }

        .content p {
            font-size: 1em;
        }

        .card p {
            font-size: 1.1rem;
        }

        .section h2 {
            font-size: 1.8em;
        }
    }

    @media (max-width: 576px) {
        .header h1 {
            font-size: 3rem;
        }

        .header p {
            font-size: 1.2rem;
            margin-left: 10px;
        }

        .content h2 {
            font-size: 1.5em;
        }
    }
</style>
{% endblock styles %}
{% block content %}
<div class="header d-flex justify-content-center">
    <div class="container">
        <h1>
            YOUR SUPPORT <span style="color: #F95B00;">CHANGES LIVES</span>
        </h1>
        <p>Your support provides shelter, food, and medical care for animals in crisis.</p>
        <a href="{% url 'in_kind_donations' %}" class="btn btn-primary p-3">Donate In-Kind</a>
    </div>
</div>
<div class="container p-5 p-sm-5">
    <h1 class="text-center mb-4 fw-bold">OFFICIAL DONATION CHANNELS</h1>
    <p class="text-left" style="font-weight: bold; font-size: 1.3rem;">
        As a non-government organization, <span style="color: #F95B00;">Island Rescue Organization</span> operates and
        relies heavily on donations from people like you.
    </p>
    <p class="text-left" style="font-size: 1.3rem;">
        Please donate when you can. Every little thing helps for our rescues. Seeing them smile and then sleep so well
        after a good meal makes all the effort and struggles worth it.
    </p>
    <p class="text-left" style="font-size: 1.3rem;">
        <strong>For tracking purposes, kindly send your proof of donation to: helpiro@gmail.com</strong>
    </p>

    <div class="row g-4 justify-content-center text-center mt-5">
        <div class="col-md-3 col-sm-6  mb-4">
            <div class="card custom-card">
                <img src="https://images.seeklogo.com/logo-png/38/1/gcash-logo-png_seeklogo-383190.png?v=1957907106254922584"
                    class="card-img-top" alt="GCASH">
                <div class="card-body">
                    <h5 class="card-title fw-bold">GCASH</h5>
                    <p class="card-text">Annalyn Aizpuru <br> 09053416042</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card custom-card">
                <img src="https://play-lh.googleusercontent.com/rX0QH8-NjXsrOdQQM7qbXhFFkdhCyAAzMB-hitkGOaLTMiP6oCR2RGZ3MCE3biSMmtk=w240-h480-rw"
                    class="card-img-top" alt="CHINA BANK">
                <div class="card-body">
                    <h5 class="card-title fw-bold">CHINA BANK</h5>
                    <p class="card-text">Island Rescue Organization-Subangdaku Branch Checking Account #: 2890396715</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card custom-card">
                <img src="https://ceedphilippines.com/wp-content/uploads/2020/04/bpi-new-logo.jpg" class="card-img-top"
                    alt="BPI">
                <div class="card-body">
                    <h5 class="card-title fw-bold">BPI</h5>
                    <p class="card-text">Carla Joy Estrada-Salvacion Account Number <br> 1199 1624 93</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card custom-card">
                <img src="https://play-lh.googleusercontent.com/fdQjxsIO8BTLaw796rQPZtLEnGEV8OJZJBJvl8dFfZLZcGf613W93z7y9dFAdDhvfqw"
                    class="card-img-top" alt="PAYMAYA">
                <div class="card-body">
                    <h5 class="card-title fw-bold">PAYMAYA</h5>
                    <p class="card-text">Annalyn Aizpuru <br> 09053416042</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6  mb-4">
            <div class="card custom-card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Paypal_2014_logo.png" class="card-img-top"
                    alt="PAYPAL">
                <div class="card-body">
                    <h5 class="card-title fw-bold">PAYPAL</h5>
                    <p class="card-text">helpiro@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="section">
    <div class="container p-5">
        <h1 class="text-center mb-4 fw-bold">IN-KIND DONATIONS</h1>
        <p style="font-size: 1.5rem; text-align: center;">For in-kind donations, please drop them off at these
            locations:</p>
        <div class="row justify-content-center text-center"">
            <div class="col col-sm-6 mb-4">
                <div class="card custom-card">
                    <img src="{% static 'global/images/parkmall.png' %}">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">IRO Adoption Booth at Parkmall, Mandaue</h5>
                        <p class="card-text">Every 2nd and 4th Saturday, 10 a.m. - 5 p.m.</p>
                    </div>
                </div>
            </div>
            <div class=" col-sm-6 mb-4">
                <div class="card custom-card">
                    <img
                        src="https://www.robinsonsretailholdings.com.ph/wp-content/uploads/2023/06/1-2023-May-Turnover-Feed-A-FURend-1.jpg">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">IRO Cattery</h5>
                        <p class="card-text">P. Basubas, Mandaue City</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <a href="{% url 'in_kind_donations' %}" class="btn btn-primary p-3">See IRO Wishlist</a>
        </div>
    </div>
</div>



<!-- Partners Section -->
<div class="container mt-5 mb-5 text-center">
    <h1 class="text-center mb-4 fw-bold">Partners</h1>

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">

            <!-- Card 1 -->
            <div class="swiper-slide">
                <div class="card donation-card">
                    <img src="{% static 'global/images/parkmall-logo.jpg' %}" class="card-img-top" alt="Parkmall">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Parkmall</h5>
                        <p class="card-text">For all the animals who deserve a second chance.</p>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="swiper-slide">
                <div class="card donation-card">
                    <img src="{% static 'global/images/parkmall-logo.jpg' %}" class="card-img-top" alt="Parkmall">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Parkmall</h5>
                        <p class="card-text">For all the animals who deserve a second chance.</p>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="swiper-slide">
                <div class="card donation-card">
                    <img src="{% static 'global/images/parkmall-logo.jpg' %}" class="card-img-top" alt="Parkmall">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Parkmall</h5>
                        <p class="card-text">For all the animals who deserve a second chance.</p>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="card donation-card">
                    <img src="{% static 'global/images/parkmall-logo.jpg' %}" class="card-img-top" alt="Parkmall">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Parkmall</h5>
                        <p class="card-text">For all the animals who deserve a second chance.</p>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="card donation-card">
                    <img src="{% static 'global/images/parkmall-logo.jpg' %}" class="card-img-top" alt="Parkmall">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Parkmall</h5>
                        <p class="card-text">For all the animals who deserve a second chance.</p>
                    </div>
                </div>
            </div>


            <!-- Add more cards as needed -->

        </div>

        <!-- Pagination & Navigation -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>


{% comment %} This is to not show the donation channel slider {% endcomment %}
{% block donation_channels %}{% endblock donation_channels %}

{% endblock content %}
{% block scripts %}
<script>
    document.getElementById('scroll-left-donate').addEventListener('click', function () {
        document.getElementById('cards-container-donate').scrollBy({
            left: -300,
            behavior: 'smooth'
        });
    });
    document.getElementById('scroll-right-donate').addEventListener('click', function () {
        document.getElementById('cards-container-donate').scrollBy({
            left: 300,
            behavior: 'smooth'
        });
    });
</script>
{% endblock scripts %}