{% extends "global/base.html" %}
{% load static %}

{% block title %}News and Articles{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/newsarticstyle.css' %}">
{% endblock styles %}

{% block content %}
<div class="header d-flex justify-content-center" 
style="background-size: cover; background-position: center; background-repeat: no-repeat; 
padding: 80px 20px;">

<div class="container">
    <h1>NEWS & ARTICLES</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
</div>


</div>


<div class="container my-5 custom-container">
  {% if featured_post %}

    <section class="featured-post">
        <br>
        <h1>Featured Post</h1>
        <br>
        <div class="featured-card">
            {% if featured_post.photo %}
            <img src="{{ featured_post.photo.url }}" alt="{{ latest_post.title }}">
            {% else %}
            {% endif %}


            <div class="content">
                {% if featured_post.category %}
                <span class="category">{{featured_post.category}}</span>
                {% else %}
                <span class="category">Uncategorized</span>
                {% endif %}

                <h2>{{featured_post.title}}</h2>

                <p>{{featured_post.created_at}}</p>


                {% if featured_post.summary %}
                <p>{{featured_post.summary|safe}}</p>
                {% else %}
                <p></p>
                {% endif %}
             
                <a class="btn btn-primary" href="{% url 'news&articles:news_artic_detail' featured_post.slug %}">Read More</a>
            </div>
        </div>
    </section>
  {% endif %}

    <aside class="sidebar">
        <div class="input-wrapper">
          <form action="" method="GET" class="d-flex align-items-center gap-2">          
            <i class="fi fi-rr-search"></i>
            <input 
                type="text" 
                placeholder="Search"
                name="search"
                class="search-bar" 
                value="{{ search_query }}" 
            >
          </form>
        </div>
        {% comment %} <div class="input-wrapper mt-5">
            <span class="category-label">Sor</span>
            <select class="category-filter">
                <option value="">All</option>
                <option value="date">Date</option>
            </select>
        </div> {% endcomment %}
        <br>
        <div class="input-wrapper">
            <span class="category-label">Browse by category</span>
            <select class="category-filter" id="category">
              <option value="">All Categories</option>
              {% for category in categories %}
              <option value="{{ category.name }}" {% if category.name == selected_category %}selected{% endif %}>
                  {{ category.name }}
              </option>
          {% endfor %}
            </select>
        </div>
    </aside>
    
</div>

{% if latest_posts %}
<div class="container">
    <div class="row">
      {% for latest_post in latest_posts %}
        <div class="col-md-4 mb-4">
          <div class="card blog-card">
            {% if latest_post.photo %}
            <img src="{{ latest_post.photo.url }}" alt="{{ latest_post.title }}">
            {% else %}
            {% endif %}

            <div class="card-body">

              {% if latest_post.category %}
              <span class="category">{{latest_post.category}}</span>
              {% else %}
              <span class="category">Uncategorized</span>
              {% endif %}

              <h5 class="card-title">{{latest_post.title}}</h5>

              <p>{{featured_post.created_at}}</p>

              {% if latest_post.summary %}
              <p>{{latest_post.summary|safe}}</p>
              {% else %}
              <p></p>
              {% endif %}
              <a class="btn btn-primary" href="{% url 'news&articles:news_artic_detail' latest_post.slug %}">Read More</a>
            </div>
          </div>
        </div>    
      {% endfor %}
        <!-- Repeat for more blog cards -->
      </div>
    </div>
</div>
{% else %}
<div class="alert alert-secondary text-center container bg-black text-white fs-6 fw-bolder fs-2" role="alert">
    No posts.
</div>
{% endif %}

  {% endblock content %}


  {% block scripts %}
  <script src="{% static 'js/news-articles.js' %}"></script>
  
  {% endblock scripts %}