{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRO Web Management</title>
    <link rel="stylesheet" href="{% static 'global/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'management/css/base.css' %}">
    <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'global/css/custom-btn.css' %}">


    {% block stylesheet %}
    {% endblock stylesheet %}
</head>
<body>

    <div id="right-popup" class="right-popup">
        <div class="popup-content">
            <span id="popup-message"></span>
        </div>
    </div>
    
    {% if messages %}
        <div style="display:none;"> <!-- Hide messages but include them for the script -->
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex sticky-md-top">
                <button id="toggle-btn" type="button">
                    <i class="lni lni-menu-hamburger-1"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#">Welcome, {{user}}</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#account-profile"
                        aria-expanded="false" aria-controls="account-profile">
                        <i class="lni lni-user-4"></i>
                        <span>Account Profile</span>
                    </a>
                    <ul id="account-profile" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">

                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Sign Out</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Edit Account</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="" class="sidebar-link">
                        <i class="lni lni-dashboard-square-1"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-header">
                    Pages
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#items"
                        aria-expanded="false" aria-controls="items">
                        <i class="lni lni-home-2"></i>
                        <span>Home Page</span>
                    </a>
                    <ul id="items" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="{% url 'homepage_hero_section' %}" class="sidebar-link">Hero Section</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">About Us Section</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">VMGO Section</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Statistics Section</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Our Shelters Section</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Ways You Can Help Section</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#inventory-management"
                        aria-expanded="false" aria-controls="inventory-management">
                        <i class="lni lni-cart-1"></i>
                        <span>Inventory Management</span>
                    </a>
                    <ul id="inventory-management" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                              <a href="" class="sidebar-link">Purchase Order</a>
                        </li>

                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Item Requests</a>
                        </li>

                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Suppliers</a>
                        </li>
                        

                    </ul>
                </li>

                <li class="sidebar-item">
                    <a href="" class="sidebar-link">
                        <i class="lni lni-user-multiple-4"></i>
                        <span>Employees</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-gear-1"></i>
                        <span>Settings</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-gear-1"></i>
                        <span>Settings</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-gear-1"></i>
                        <span>Settings</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-gear-1"></i>
                        <span>Settings</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-gear-1"></i>
                        <span>Settings</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-gear-1"></i>
                        <span>Settings</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-gear-1"></i>
                        <span>Settings</span>
                    </a>
                </li>
                
            </ul>
        </aside>
        <div class="container">
            <div class="text-center">
                {% block content %}
                <!-- Page-specific content goes here -->
                {% endblock content %}
            </div>
        </div>


    <script src="{% static 'global/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'management/js/base.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>