{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRO Web Management</title>
    <link rel="stylesheet" href="{% static 'global/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'management/css/base.css' %}">
    <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'global/css/custom-btn.css' %}">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    {% block stylesheet %}
    {% endblock stylesheet %}
</head>
<body>

    <div id="right-popup" class="right-popup">
        <div class="popup-content">
            <span id="popup-message"></span>
        </div>
    </div>
    
    {% if messages %}
        <div style="display:none;" id="hidden-messages">
            {% for message in messages %}
                <p data-tag="{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    
    
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex sticky-md-top">
                <button id="toggle-btn" type="button">
                    <i class="lni lni-menu-hamburger-1"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#">Welcome, {{user}}</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#account-profile"
                        aria-expanded="false" aria-controls="account-profile">
                        <i class="fi fi-rr-user"></i>
                        <span>Account</span>
                    </a>
                    <ul id="account-profile" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">

                        <li class="sidebar-item">
                            <a href="{% url 'management:logout' %}" class="sidebar-link">Sign Out</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Edit Account</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="" class="sidebar-link">
                        <i class="fi fi-rr-dashboard-monitor"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-header">
                    Pages
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#homepage"
                        aria-expanded="false" aria-controls="homepage">
                        <i class="fi fi-rr-house-chimney"></i>
                        <span>Home Page</span>
                    </a>
                    <ul id="homepage" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="{% url 'management:homepage_hero_section' %}" class="sidebar-link">Hero Section</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">About Us Section</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">VMGO Section</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Statistics Section</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Our Shelters Section</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Ways You Can Help Section</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#donation-page"
                        aria-expanded="false" aria-controls="donation-page">
                        <i class="fi fi-rr-hands-heart"></i>
                        <span>Donation Page</span>
                    </a>
                    <ul id="donation-page" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                              <a href="" class="sidebar-link">Hero Section</a>
                        </li>

                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Donation Channels</a>
                        </li>

                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">In-Kind Donation Drop Offs</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Partners</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#in-kind-donation-page"
                        aria-expanded="false" aria-controls="in-kind-donation-page">
                        <i class="fi fi-rr-box-heart"></i>
                        <span>In-Kind Donation Page</span>
                    </a>
                    <ul id="in-kind-donation-page" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                              <a href="" class="sidebar-link">Hero Section</a>
                        </li>

                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">How Donations Help</a>
                        </li>

                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Wishlist</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Drop Off Locations</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="fi fi-rr-house-chimney-heart"></i>
                        <span>Shelters</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="{% url 'management:adoptable_rescues' %}" class="sidebar-link">
                        <i class="fi fi-rr-paw"></i>                        
                        <span>Adoptable Rescues</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#adoption-form">
                        <i class="fi fi-rr-paw-heart"></i>
                        <span>Adoption Process</span>
                    </a>
                    <ul id="adoption-form" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <!-- Adoption Form Link -->
                        <li class="sidebar-item">
                            <a href="{% url 'management:google_form_list' %}" target="_blank" class="sidebar-link">
                                Adoption Form
                            </a>
                        </li>
                        <!-- Three Ts of Volunteering Link -->
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                sample
                            </a>
                        </li>
                    </ul>
                </li>
                

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#volunteers-page"
                        aria-expanded="false" aria-controls="volunteers-page">
                        <i class="fi fi-rr-user-volunteer"></i>
                        <span>Volunteer Page</span>
                    </a>
                    <ul id="volunteers-page" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                              <a href="" class="sidebar-link">Why Volunteer With Us</a>
                        </li>

                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">The Three Ts of Volunteering</a>
                        </li>

                        <li class="sidebar-item">
                            <a href="" class="sidebar-link">Volunteer Activities</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="fi fi-rr-calendar-day"></i>
                        <span>Events</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="fi fi-rr-books"></i>
                        <span>Education Resources</span>
                    </a>
                </li>
                
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#news&articles"
                        aria-expanded="false" aria-controls="news&articles">
                        <i class="fi fi-rr-blog-text"></i>
                        <span>News&Articles</span>
                    </a>
                    <ul id="news&articles" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                              <a href="{% url 'management:news_articles' %}" class="sidebar-link">News&Articles List</a>
                        </li>

                        <li class="sidebar-item">
                            <a href="{% url 'management:category_news&articles' %}" class="sidebar-link">Categories</a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </aside>
        <div class="container mt-5">
            <div class="text-center">
                {% block content %}
                <!-- Page-specific content goes here -->
                {% endblock content %}
            </div>
        </div>


    <script src="{% static 'global/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'management/js/base.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>