.right-popup {
    position: fixed;
    top: 20px;
    right: -300px;
    width: 250px;
    background-color: #141414;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 9999;
}

.right-popup.show {
    right: 20px;
}
