  .navbar{
    margin-right: 100px;
    margin-left: 100px;
  }
  .navbar-brand img {
      height: 150px; /* Adjust logo size */
  }
  .nav-item .nav-link {
      color: black; /* Default link color */
      font-weight: bold;
      text-transform: uppercase;
      margin-right: 10px;
      margin-left: 10px;
  }
  .nav-item .nav-link:hover {
      color: #F95B00; /* Highlight link on hover */
  }
  .nav-item .active {
      background-color: #F95B00;
      color: white !important; /* Active link color */
      padding: 10px 10px;
      border-radius: 5px;
  }

  .hero-section {
    background-image: url('static/hero section bg - Copy.jpg'); /* Replace with your image */
    background-size: cover; /* Ensure the image covers the entire section */
    background-position: center 20%; /* Center the background image */
    color: white; /* Text color */
    text-align: center; /* Center the text */
    padding: 250px 0; /* Increase padding to make the section larger */
  }

  /* Hero Title Styling */
  .hero-title {
      font-size: 3rem; /* Large font size for the title */
      font-weight: bold;
  }

  /* Hero Subtitle Styling */
  .hero-subtitle {
      font-size: 1.5rem; /* Subtitle size */
      margin-top: 20px;
  }

  /* Optional: Adjust buttons or links */
  .btn-primary {
      margin-top: 30px;
      font-size: 1.2rem;
      padding: 10px 20px;
  }